:root {
    --bg-nav-bar-footer-bot:#2c3e50;
    --bg-start-bs:#1abc9c;
    --bg-footer-top:#3a546d;
    --txt-w:#fff;
}

.bg-nav-bar {
    background-color: var(--bg-nav-bar-footer-bot);
}

.bg-start-bs {
   background-color: var(--bg-start-bs);
}

.bg-footer-top {
    background-color: var(--bg-footer-top);
}

.bg-footer-bot {
    background-color: var(--bg-nav-bar-footer-bot);
}

.txt-w {
    color: var(--txt-w);
}




