:root {
    --bg-nav-bar-footer-bot:#2c3e50;
    --bg-start-bs:#1abc9c;
    --bg-footer-top:#3a546d;
    --txt-w:#fff;
}

.bg-nav-bar {
    background-color: var(--bg-nav-bar-footer-bot);
}

.bg-start-bs {
   background-color: var(--bg-start-bs);
}

.bg-footer-top {
    background-color: var(--bg-footer-top);
}

.bg-footer-bot-nav {
    background-color: var(--bg-nav-bar-footer-bot);
}

.txt-w {
    color: var(--txt-w);
}

.img-container {
    width: 250px;  
}

.img-container img {
    width: 100%;
}

#nav_bar a {
    color: var(--txt-w);
}

#nav_bar .navbar-toggler-icon {
    color: var(--txt-w);
}

.star_separ {
    width: 100%;
    margin: 10px 0;
    font-size: 30px;
}

.star_separ::after,
.star_separ::before {
    content: '';
    height: 3px;
    background-color: white;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    margin:10px;
}

#portfolio .star_separ::after,
#portfolio .star_separ::before {
    background-color: #000;
}

#contact .star_separ::after,
#contact .star_separ::before {
    background-color: var(--bg-footer-top);
}

#footer-top a {
    color: var(--bg-start-bs);
}

#contact .btn {
    background-color: var(--bg-start-bs);
}

#about .btn {
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--bg-start-bs);
}

#nav_bar span {
    color: #fff;
}